<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasicos</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/css/estilo.css">
    <link rel="shortcut icon" href="iconolibro.jpg">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'base/navigation.html'%}
    <section id="main">
         <!--productos aqui-->
<section id ="feature-product">
    <!--heading-->
    <h2>Producto Destacado</h2>
    <div class="feature-product-container">
        <div class="feature-product-box">

            <div class="product-feature-img">
                <img src="../../static/assets/libro-clasico-1.jpg" alt="libro-clasico-1">
            </div>  
            <div class="product-feature-text">
                <strong>El escarabajo de oro</strong>
                <span>$8500</span>
            </div>
            <div class="cart-like">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#"><i class="far fa-heart"></i></a>
            </div>


        </div>

    </div>

</section>
    </section>
<!--footer------------>
{% include 'base/footer.html' %}
</body>
</html>