<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/css/estilo.css">
    <link rel="shortcut icon" href="iconolibro.jpg">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'base/navigation.html'%}

    <section id="main">
    <!--productos-->
        <section id="categories">
                <h2>CATEGORIAS</h2>
                <!--box container-->
                <div class="category-container">
                    <a href="{% url 'infantil' %}"class=category-box>
                        <img src="../../static/assets/libro-infantil.jpg" alt="category">
                        <span>Infantil</span>
                    </a>
                <!--box container 2-->
                    <a href="{% url 'cocina' %}"class=category-box>
                        <img src="../../static/assets/libro-cocina.jpg" alt="category">
                        <span>Culinario</span>
                    </a>
                <!--box container 2-->
                    <a href="{% url 'cocina' %}"class=category-box>
                        <img src="../../static/assets/libro-clasico.jpg" alt="category">
                        <span>Clasicos</span>
                    </a>
                </div>
       
        <!--banner-->
        <section id="banner">
            <div class="banner-text">
                <strong>¿Necesitas Info de un Libro?</strong>
                <span>Ingresa aquí y encuentra más información sobre el libro que buscas</span>
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <a href="{% url 'apiLibros' %}">Ver Libros</a>
            </div>
                <!--imagen banner-->
                <div class="banner-img">
                    <img src="../../static/assets/banner.png" alt="Banner">
                </div>
        </section>
        </section>
    </section>
    {% include 'base/footer.html' %}
</body>
</html>
